.exampleBox {
  padding: calc(var(--ifm-pre-padding) - 4px);
  border: 2px solid var(--ifm-color-emphasis-300);
  border-bottom: 0;
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
}

.exampleBox + div > div > div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
